# encoding: utf-8
<% provide(:title, 'Commits') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Sha:</strong>
  <%= @commit.sha %>
</p>

<p>
  <strong>Description:</strong>
  <%= @commit.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @commit.author %>
</p>

<p>
  <strong>Commit date:</strong>
  <%= @commit.commit_date %>
</p>


<p>
  <div id="commit">
  </div>
</p>

<%= link_to 'Edit', edit_commit_path(@commit) %> |
<%= link_to 'Back', commits_path %>

<script type="text/javascript">
  var test_var = "<%= escape_javascript @test_var %>";
  show_patch('#commit', test_var);
</script>
